body {
    font-size: 12px;
    font-family: 'Shadows Into Light', sans-serif;
    background-color: lavender ;
    
}

header {
    display: flex;
    background-image: url("../images/Classy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    
}
header h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: olivedrab;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    text-shadow: 2px 2px 5px gold; 
    
}

.container {
    display: flex;
}

.left {
    width: 20%;
    height: 160vh;
}

.center {
    width: 60%;
    height: 160vh;
}

.right {
    width: 20%;
    height: 160vh;
}
.fixed-content {
    top: 0;
    bottom: 0;
    overflow: hidden;
    position: fixed;
}
.top-nav-bar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: 	darkseagreen;
    height: 60px;

}

.top-nav-item {
    display: inline;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.top-nav-item:hover {
    background-color:lemonchiffon;
    color: black;
}

a:link {
    color: blue;
}

a:hover {
    color: red;
}

a:visited {
    color:blueviolet;
}

a:active {
    color: aquamarine;
}

a {
    text-decoration: none;
}


img {
    height: 20px;
    width: 20px;
}

.sidebar {
    background-color: darkseagreen;
}

.sidebar-content {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
    text-shadow: 3px 2px lemonchiffon;
    height: 20px;
    margin-bottom: 30px;
}

.sidebar-item {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    color:cornflowerblue;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    align-items: flex-start;
    height: 30px;
}

.sidebar-item:hover, .sidebar-content:hover {
    background-color: aqua;
    color:coral;
} 

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    text-align: center;
    height: 60px;
    
}

span {
    margin-right: 8px;
}



