body{

    background-color: black;
    margin: 0px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}
header {
    /*font-family: Helvetica;*/
    color: black;
    font-size: 36pt;
    font-weight: bolder;
    background-color: whitesmoke;
    line-height: 100px;
    align-items: center;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

header nav {
    display: inline;
    float: right;
    font-size: 14pt;
    font-weight: lighter;
}

header nav a{
    margin-left: 10px;
}

p {
    text-align: center;
    font-size: 24pt;
}

a:visited{
    color: darkgoldenrod
}

a:link{

    color: whitesmoke
}

#about {
    font-family: Helvetica;
    text-align: center;
    max-width: 150px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    background-color: lightblue;
    border-radius: 20px;
}

