
.more-info h2 {
    /* border: 1px solid black; */
    margin-left: 14%;
    /* padding: 5%; */
    margin-top: 10%;
}

.image-container{
    width: 90%;
    height: 400px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(15rem, 1fr)); 
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    

}

.book-row{
    /* border: 2px solid rgb(85, 206, 64); */
    display: flex;
    flex-direction: row;
    /* vertical-align: middle; */
    /* background-color:#9BAAAE; */
    overflow-x:scroll;
    width: 80%;
    height: 200px;
    margin: 20px auto;
    /* scroll-snap-type: x mandatory; */
    padding: 20px;
    
    
}

.image-container li{
    /* border: 1px solid rgb(151, 13, 13); */
    list-style-type: none;
    padding: 10px;
    align-items:flex-start;
    max-height: 100%;
    
}


.image-container .book{
    width: 150px;
    height: 190px;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}

.book{
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px;
}

img .left {
    position: absolute;
    padding: 20% 30%; 
}

/* .right {
  position: absolute;
  top: 45%;
  right: 12%;
  width: 4em;
  height: 4em;
  border: none;
  background-color: none; 

} */