@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Red+Hat+Display:wght@300;400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400;1,600&family=Source+Sans+Pro&display=swap');

html {
    font-family: 'Source Code Pro';
    padding: 10px;

}

h1 {
    margin: 30px;
    padding-top: 5%;

}

section h1 {
    margin-left: 5%;
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #9BAAAE;
}


.nav-items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    
}

.nav-items > li {
    margin: 0 80px;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: .1em;
}

.nav-items > li > a:hover{
    color: #9BAAAE;
    text-decoration: underline;
}


footer > h1{
    margin-top: 10%;
}

footer .contact {
    /* display: flex;
    flex-direction: row; */
    list-style-type: none;
    text-align: center;
    padding: 30px;
}

footer .icons{
    width: 30px;
    height: 30px;
    
}

footer ul img:hover{
    opacity: 70%;
}

footer h1 , p{
    padding: 30px;
    text-align: center;
    padding: 20px;
}

/* mark {
    background-color:lightgray;
    color: #715650;
} */

#email {
    padding-top: 10px;
    text-decoration: underline;
}

::selection{
    background-color:#9BAAAE;
}