
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    display:flex;
    color: #24917C;
    font-family: Zen Maru Gothic;
    background-color: #9ec1b5;
    background-image:url(/Users/shelby_faulconer/ada/projects/personal-portfolio-site/assets/fireweed_d80.jpg);
    border-style:groove;
    border-color: #9ec1b5;
    border-width: 4px;
    padding: 7px;
    width: 100vw;
    height: 25vh;
    flex-direction: column-reverse;
}


header nav {
    margin-left: 80vw;
}

header nav a {
    color: #f2df55;
    background-color: whitesmoke;
    text-decoration: none;
}

footer {
    padding: 10px;
    font-size: x-small;
}


/* nav ul {
    list-style: none;
} */

a {
    color: #584c99;
}
a:hover {
    color: #cbb1d4;
}

.dropdown {
    display: inline-block;
}

.dropdown > span {
    text-decoration: underline;
}

.dropdown-content {
    display:none;
    min-width: 80px;
    box-shadow: 0px 4px 8px 0px whitesmoke;
    padding: 10px 10px;
    z-index: 1;
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#project-display {
    display: grid;
    border: 1px dotted ;
    border-radius: 17px;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 1fr 1fr 3fr 3fr;
    align-items: stretch;
} 

#project-display h2 {
    grid-column: 1/1;
    grid-row: 1/span 2;
    align-self: stretch;
    font-size: 6vh;
    padding-left: 6vw;
}

#project-display img {
    width: 27vw;
    height: 27vw;
    /* align-content: space-around; */
    margin: auto;
    padding: 1vw;
    padding: 1vh;
}

#project-display div {
    grid: merge;
    grid-column: 1/span 2;
    grid-row: 3/ span 4;
    align-items: space-evenly;
    margin-left: 5vw;
}




h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 7px;
    display: inline-flex;
    align-self:stretch;
    font-size: 4vh;
    font-size:calc(14px+ 0.8vw);
    margin-bottom: 4vh;
    flex-grow: initial;
}
.socials {
    align-items: center;
}
.socials img {
    margin-left: 2vw;
    padding-left: 2vw;
}

#self-socials {
    padding-left: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#self-socials h3 {
    color:#ff8d83;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    padding-left: 4%;
}

#self-socials img {
    max-width: 30vw;
    align-items:center;
    border-width: 7px;
    border-style:double;
    border-color: #584c99;
}
#self-socials nav img {
border-style: none;
}

#intro-box {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 20vh;
    margin-left: 20vh;

    /* flex: -1; */
}
#intro-box p {
    margin-left: -5vw;
}
/* main {
    display: flex;
}

#intro-box {
    display: flex;
    margin: 2%;
    padding: 10px;
} */

