#title-topic {
    font-size: 35px;
    text-align: center;
    margin-top: 100px; 
}

.name-1 { 
    margin-top: 100px;
    text-align: center;
}

.name-2 { 
    margin-top: 40px; 
    text-align: center; 
}

