body {
    background-color: var(--black);
    color: var(--white);
}

.nav__link {
  color: var(--white);
  border: 2px solid var(--white);
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom:120px;
  padding-top: 7rem;
  align-items: center;
}

.about__content {
  width: 55%;
  margin-left: 100px;
}

#about__bigtitle {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

.btn {
  margin-top: 5rem;
  font-size: 0.93rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 0.66rem 2rem;
  border: 2px solid var(--white);
  border-radius: 20px;
  background-color: var(--black);
}

.about__text {
  text-align: justify;
  line-height: 1.5em;
}
