.container {
    font-family: Avenir;
    display: grid;
    grid-template: 1fr .5fr 4fr .25fr / 1fr 1fr;
    font-size: 20px;
}

header {
    grid-column: 1 / 3;
}

nav {
    grid-column: 1 / 3;
    grid-row: 2;
    /* text-align: center; */
}

footer {
    grid-column: 1 / 3;
    grid-row: 4;
}

.body-link {
    color: teal;
    text-decoration: underline;
    text-underline-offset: .1em;
}

.about-me {
    grid-column: 1 / 3;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
}

.bio {
    /* border: 2px grey solid; */
    max-width: 65%;
    padding-left: 5%;
    padding-right: 5%;
}

.photo {
    /* border: 2px grey solid; */
    max-width: 35%;
    border-radius: 50%;
    /* vertical-align: middle; */
}