.project__content:before{
    content:"";
    position:absolute;
    width: 550px;
    height: 5%;
    background: linear-gradient(#fff200, #14fa8f);
    animation: animate 4s linear infinite;
}

.project__content:after{
    content:"";
    position:absolute;
    inset :6px;
    background: #0e1538;
    border-radius: 16px;
}
@keyframes animate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}