img {
  align-self: flex-start;
  border: #000 solid 2px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #302f2f;
  float: left;
  margin-right: 2rem;
  height: auto;
  max-width: 100%;
}

#greetings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thai {
  font-size: 2rem;
  margin-right: 1rem;
}

.chinese {
  margin-left: 1rem;
}

/********** 1040 and under **********/

@media screen and (max-width: 1040px) {
  #greetings {
    clear: left;
  }
}

/********** 950 and under **********/

@media screen and (max-width: 950px) {

  h1,
  p {
    clear: left;
  }

  img {
    margin: 1rem auto;
  }
}

/********** 560 and under, responsive nav **********/

@media screen and (max-width: 560px) {

  #greetings {
      display: block;
    }
  
    .thai {
      float: left;
      margin: .5rem;
    }
  
    .chinese {
      float: right;
      margin: .5rem
    }
}