blockquote { 
    text-align: center; 
    margin-top: 100px; 
    font-size: 40px; 
}

blockquote:hover { 
    color: #84dcc6; 
}

#quote { 
    text-align: center; 
    font-size: 30px; 
}

.hobbiton{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    text-align: center;
} 

img { 
    width: 20%;
    height: auto;
    border-radius: 50%;
}

figcaption {
    font-size: small;
    text-align: center;
    font-style: italic;  
}