.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 1vw;
}

.info {
    font-family: 'Poiret One', cursive;
    display: grid;
    grid-template-columns: 17vw 19vw 20vw 1fr;
    grid-template-rows: 25vh 1fr;
    position: absolute;
    font-size: 32px;
    text-shadow: 2px 2px snow;
}

#one {
    grid-row-start: 4;
}

#two {
    grid-column-start: 3;
    grid-row-start: 4;
}

h1 {
    text-align: right;
}

.content .picture {
    border: 3px solid #807A7A;
    max-width: 25vw;
    opacity: 40%;
}

.content .picture:nth-of-type(2) {
    opacity: 100%;
}

