.content {
    display: flex;
    flex-flow: row wrap;
    column-gap: 2vw;
    row-gap: 4vh;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: .5vw .5vh .5vw #807A7A;
    max-width: 25vw;
    align-items: center;
    background-color: #E2E1E6;
}

.projects img {
    margin-top: 3vh;
    width: 20vw;
    max-height: 15vw;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #807A7A;
    color: snow;
}

h2 {
    text-align: center;
}