.container {
    font-family: Avenir;
    display: grid;
    grid-template: 1fr .5fr .25fr 4fr .25fr .25fr / 1fr 1fr 1fr;
    /* border: 2px grey solid; */
    font-size: 20px;
}

header {
    grid-column: 1 / 4;
}

nav {
    grid-column: 1 / 4;
    grid-row: 2;
    /* text-align: center; */
}

footer {
    grid-column: 1 / 4;
    grid-row: 6;
}

a {
    color: #302e27;
    text-decoration: none;
}

a:hover {
    /* text-decoration: underline dotted; */
    color: grey;
}

.body-link {
    color: teal;
    text-decoration: underline;
    text-underline-offset: .1em;
}

.projects {
    grid-column: 1 / 4;
    grid-row: 4;
    /* border: 2px grey solid; */
    text-align: center;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 2%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.projects>section {
    /* border: 2px grey solid; */
    max-width: 25vw;
}

.projects * img {
    max-width: 15vw;
}