.projects { 
    display: grid; 
    gap: 10px; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    list-style-type: none; 
    margin-top: 100px;
    justify-items: center; 
    align-items: center;
}

.description { 
    font-size: 20px; 
}