.modal__title{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7rem;

}
.timeline {
    display: flex;
    margin: 3rem auto;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.timeline:before{
        content: "";
        display: block;
        width: 1px;
        height: 100%;

        background-color: var(--black);

        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
}

.timeline__col {
    width: 50%;
}
.timeline__col--left {
    text-align: right;
    padding-right: 3.2rem;
}
.timeline__col--right {
    padding-left: 3.2rem;
}

.timeline__title {
    margin-bottom: 2.6rem;
    font-size: 1.2rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
}

.timeline__item {
    margin-bottom: 2.6rem;
}
.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__date {
    display: block;
    margin-bottom: .8rem;
    text-decoration: underline;
    font-size: 0.94rem;
    color: var(--black);
}

.timeline__subtitle {
    margin-bottom: .2rem;
    font-size: 1.06rem;
    color: var(--black);
    font-weight: 700;
}

.timeline__position {
    font-size: .94rem;
    color: var(--black);
    font-style: italic;
}

.timeline__text {
    margin-top: .8rem;
    font-size: .8rem;
    line-height: 1.5;
    color: gray;
    font-weight: 300;
}
