/* body {
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 12px 12px 12px;
    grid-template-rows: 12px 12px 12px;
    margin: auto;
    width: 100vw;
    height: 100vh;
} */

/* main {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 1em;
} */


/* .frame {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    grid-row-start: 3;
} */

.frame {
    background-color: gray; 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    grid-row-start: 3;
}

.page_description {
    background-color: aqua;
        grid-row-start: 3;

}