/* header,nav, section, footer{
    border: 2px solid rgb(242, 162, 162)
}


.container{
    border:blueviolet 2px solid;
    display:flex;
    flex-wrap: wrap;
    direction: Column;
    size: Expand;
} */

/* .about-container{
    display: flex;
    flex-direction: column;
}

.about-container>div{
        /* background-color: lightgoldenrodyellow; */
    margin: 60px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    padding-top: 20px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 25px;
} */