.box-wrapper{
    display:flex;
}
.box-left{
    order: 1;
    // should be: width: 50%;
    // should be: height: 100%;
}
.box-right{
    order: 2;
    // should be: width: 50%;
    // should be: height: 100%;
}