main section {
    text-align: center;
    margin: 10% 20% 10% 20%;
    
}

#home a {
    /* text-decoration: underline; */
    color: black;
    font-weight: bolder;
    /* background-color: oldlace; */
    /* border-left: 1px solid;
    border-right: 1px solid; */
}
