body {
    background-color: #fef9ef;
    color: #227c9d;
}

.menu {
    color: #227c9d;
}

.menu:hover {
    transition: .3s ease-in-out;
    box-shadow: inset 100px 0 0 0 #227c9d;
    color: #fef9ef;
}

div img {
    height: 90%;
    width: auto;
    margin: auto;
}

#loading-message {
    font-size: 1.5rem;
}