.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0;
}
.portfolio-item {
    font-weight: bold;
    background-color: #dab785;
    margin: 25px;
    padding: 20px;
    border: solid;
}
.portfolio-item:hover {
    color:#70a288;
}
body {
    background-color: #d5896f;
    color: #04395e;
}
a {
    color: #04395e;
    text-decoration: none;
}
a:hover {
    color: #dab785 
}
