.bg{
    background-image: url("/images/bg2.webp");

  /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 0;
    font-family: helvetica;
    display: grid;
    /* grid-template-rows: .5fr 1fr .25fr; */
    grid-template-columns: 20% auto 20%;
    /* width: 1200 px;
    /* margin: 0 auto;  another way to get everything centered */
    color: #3e3e3e;
    font-weight: 300;
    text-align: center;
    object-fit: cover;
}
header {
    text-align: center;
    margin-top: 2em;
    grid-column: 1/4;
    grid-row: 1/2;
    
}
header img { 

    width: 200px;
    border-radius : 50%;
}
header nav li {
    background-color: rgba(141, 144, 148, 0.2);
    padding: 1 em;
    border-radius: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.button1 {
    border: 3px dotted royalblue;
    list-style-type: none;
    font-size: 1.5em;
    
}
.button1:hover {
    background-color: lightyellow;
    
}


a {
    text-decoration: none;
    color: #3e3e3e;
}
main {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
section {
    width: 450px;

}
section img {
    border-radius: 10%;
    width: 100%;
    height: 58%;
}
section h4,
section p {
    text-align: center;
}

.nano{
    margin-top: 56px;
}
footer {
    grid-column: 1/4;
    grid-row: 3/span 4; /* fill out the entire container*/
    background-color: #3e3e3e;
    margin-top: 20px;
}
footer a {
    color: whitesmoke;
    text-decoration: underline;
}
footer a:hover{
    color: lightskyblue;
}
.tags li {
    color: whitesmoke;
    border-radius: 15px;
    padding: 1em;
    font-weight: bold;
    font-size: 1em;
    background-color: teal;
    list-style-type: none;
}
.project {
    text-decoration:underline;
}
.project:hover {
    color: blue;
    /* background-color: lightcyan;  */
}

