a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    width: 100%;
    height: 100%;
}

footer {
    width: 100%; 
    font-size: 2.2vh; 
    color:#ffffff;
    padding: 0;
}

h1 {
    font-size: 4vh;
    font-weight: bold;
    color: #a5a58d;
    margin: 2vh;
    /* color: #ccd5ae; */
}

h2 {
    font-size: 3.6vh;
    font-weight: bold;
    margin: 20px;
    color: #a5a58d;
}

h3 {
    font-size: 2.5vh;
    font-weight: normal;
    margin: 20px;
    color: #4a4e69;
}

h4 {
    font-size: 100%;
    letter-spacing: 1em;
}

hr {
    height: 2px;
    border-width: 0;
    margin: 1%;
    background-color: #4a4e69;
    color: #4a4e69;
}

img.grayscale {
    filter: grayscale();
}

img.grayscale:hover {
    filter: none;
}

nav  {
    width: 100%;
}

p > h2 {
    align-items: left;
}

section.about-grid-left {
    background-color: #ddbea9;
    height: 100%;
    width: 100%;
}

ul.nav-links{
    margin:0;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 12.1vh;
    grid-gap: none;
}

.about-grid div {
    order: 1;
    margin-left: 14%;
}

.about-grid > img {
    width: 75%;
    height: 150%;
    object-fit: cover;
}

.about-grid  p {
    font-size: 3vh;
    font-weight: bold;
    display: block;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #000000;
}

.about-grid-left {
    grid-area: 1 / 1 / 8 / 6;
}

.about-grid-middle {
    grid-area: 3/ 2 / 6 / 9;
}

.about-grid-middle img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-grid-name {
    grid-area: 1/ 2/ 3/ 6;
}

.about-grid-right {
    grid-area: 4/ 9/ 5/ 12;
}

.about-grid-right{
    text-align: center;
}

.about-grid-side {
    grid-area: 3/ 1 / 8 / 4;
    display: flex;
    flex-direction: column-reverse;
}

.about-grid-side h4 {
    order: 2;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding: 2%;
    margin-left: 10%;
}

.collage-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 1vh;
}

.collage-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 3.4vw;
    grid-gap: .4vw;
}

.collage-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collage-grid-vp {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
} 

.collage-grid-ag {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
}

.collage-grid-sm {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
}

.collage-grid-tl {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 8;
}

.img_name {
    top: -100%;
    color: #000000;
    position: relative;
    font-size: 1vw;
    font-weight: bold;
    text-align: right;
    padding: .3vh;
    pointer-events: none;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    border-left: .3vw solid #000000;
    height: 50%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cb997e;
}

.nav-bar a {
    margin-left: 1vw;
    margin-right: 1vw;
}

.nav-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.nav-item a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color:#000000;
    font-size: 1.6vh;
}

.nav-links {
    display: flex;
    list-style: none;
}

.page_buttons {
    background: #ddbea9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: .5vh;
    font-size: 1.5vh;
    padding: .5vh .5vw;
}

.projects-flex {
    display: flex;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    height: 75vh;
}


.project-items {
    flex: 1;
    overflow: clip;
    margin: .5vh;
    align-items: center;
}

.project-items img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.project-items > p {
    font-size: 1.2vh;
    display: block;
    text-align: center;
    line-height: 2.5;
    margin: 0;
}

.project-items > span {
    font-size: 2.5vh;
    display: block;
    text-align: center;
    line-height: 2.5;
}


.project-page-title {
    text-align: center;
    margin-bottom: 0;
    margin-top: 5vh;
}

.poject-info {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

.trees-a {
    position: relative;
    opacity: 1;
}

.trees-a:hover {
    opacity: 0;
}

.trees-b {
    opacity: 1;
}

#first-p {
    margin-top: 5%;
}

#page-buttons {
    background: #ddbea9;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: .5vh;
    font-size: 1.5vh;
    padding: .5vh .5vw;
}