/* 
header img {
    position: absolute;
    right: 55%;
    top: 5%;
} */

h1 {
    color: #242F9B;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
}
/* #jen-cam {
    height: 43vh;
    width: 20.5vw;
    height:20%;
    width:20%;
    object-fit: cover;
} */

/* about.html page; row #2: */
#container-about {
    display: grid;
    grid-template-rows: .25fr .75fr .15fr .5fr .15fr .5fr .15fr .75fr .1fr;
    /* grid-template-rows: 30% 50% 20%; */
}
#intro {
    grid-row: 2/3;
}
#title-work {
    grid-row: 3/4;
    padding: 30px 5px;
    background-color: #242F9B;
    color: #DBDFFD;
}
#section-work {
    grid-row: 4/5;
}
#title-coding {
    grid-row: 5/6;
    padding: 30px 5px;
    background-color: #242F9B;
    color: #DBDFFD;
}
#section-coding {
    grid-row: 6/7;
    border: solid blue 2px;
}

#title-family {
    grid-row: 7/8;
    padding: 30px 5px;
    background-color: #242F9B;
    color: #DBDFFD;
}
#section-hobbies {
    grid-row: 8/9;
    border: solid blue 2px;
}

img {
    height: 40vh;
    width: 40vw;
    object-fit: cover;
}

#hobbies {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border: solid green 4px;
}

.item{
    flex: 1;
    object-fit: cover;
    align-items: center;
}

footer {
    grid-row: 9/10;
    /* border: solid #242F9B 2px;
    background-color: #646FD4; */
}

