.a:hover{
    color:rgb(4, 4, 180);
}

.b:hover{
    color:rgba(59, 0, 0, 0.872);
}

.c:hover{
    color:rgb(243, 247, 32);
}

.d:hover{
    color:rgba(69, 17, 17, 0.676);
}

.e:hover{
    color:rgb(68, 196, 255);
}

.f:hover{
    color:rgb(16, 137, 24);
}

.g:hover{
    color:rgb(245, 171, 51);
}

.h:hover{
    color:rgb(255, 140, 16);
}

.i:hover{
    color:rgb(233, 243, 49);
}

.j:hover{
    color:rgb(237, 164, 18);
}

.k:hover{
    color:rgba(56, 3, 3, 0.894);
}

.l:hover{
    color:rgb(165, 25, 32);
}

.m:hover{
    color:rgba(82, 25, 206, 0.802);
}

.n:hover{
    color:rgb(225, 117, 255);
}

.o:hover{
    color:rgb(255, 251, 121);
}

.p:hover{
    color:rgb(216, 9, 9);
}

.q:hover{
    color:rgb(119, 0, 255);
}

.r:hover{
    color:rgb(79, 6, 6);
}

.s:hover{
    color:rgb(255, 251, 0);
}

.t:hover{
    color:rgba(20, 2, 174, 0.821);
}

.u:hover{
    color:rgb(0, 0, 0);
}

.v:hover{
    color:rgb(0, 123, 22);
}

.w:hover{
    color:rgb(0, 0, 134);
}

.x:hover{
    color:rgb(0, 0, 0)
}

.y:hover{
    color:rgb(138, 0, 0);
}

.z:hover{
    color:rgb(255, 255, 93);
}

